
*{
	-webkit-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing: border-box;
	box-sizing:border-box;
	margin: 0; 
	padding: 0; 

}

section {
	padding: 75px 50px;
}

section .tipo{
	padding: 85px 50px;
}


body{
	margin: 0;
}


.barra{
	background-color: #1A5276;
	color: #fff;
	font-family: arial;
	padding: 32px 23px;
}

.barraInicio{
	background-color: #1A5276;
	color: #fff;
	font-family: arial;
	padding: 32px 23px;
	text-align: center;
	width: 100%;
}

.sectionMenu{
	display: inline-block;
	width: 24%;
	text-align: center;
}

.logo{
	font-size: 25px;
	text-align: center;
	right: 10px;
}

.sectionMenu a{
	text-decoration: none;
	color: #fff;
	font-family: arial;
	font-size: 30px;
}

.sectionMenu:first-child{
	width: 50%;
}

section .pabc,
section .pmentor,
section .ppro{
	padding: 30px 5px;
	font-family: arial;
	width: 100%;
	margin: auto;
}

section .tipo{
	padding: 40px 5px;
	font-family: arial;
	width: 100%;
	margin: auto;
}

.categoria{
	xpadding: 1% 1%;
	font-family: arial;
	width: 100%;
	margin: auto;
	padding: 17px;
	position: fixed;
	background: #1A5276;
}


.categoria .container{
	text-align: center;
	width: 100%;
}

.categoria .container .test{
	border-bottom: 4px solid #ffc107;
}


.categoriaTitulo{
	font-size: 50px;
    padding-bottom: 8px;
    color: #fff;
}


.categoriaSubMenu div{
	display:inline-block;
	width: 18%;
	color: #1A5276;
}


.container,
.contenedorCaja{
	width: 80%;
	margin: auto;
	padding: 5px;
}

.container .titulo{
	text-align: center;
	font-size: 37px; 
	font-family: arial;
	color: #fff;
	padding-bottom: 15px;
}


.caja{
	background-color: #fff;
	padding: 6% 3%;
	margin: 15px 3%;
	width: 40%;
	margin-bottom:40px;
	text-align: center;
	border-radius: 3px;
}

.cajaTesting,
.cajaProduccion{
	padding: 6% 3%;
	margin: 15px 3%;
	width: 40%;
	margin-bottom:40px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
}

.cajaTesting{
	background: #ffc107;
}

.cajaProduccion{
	background: #28B463;
}

.container .caja{
	display: inline-block;
}

.pabc{
	background-color: #F39C12;
}

.tipo{
	background-color: #212F3D;
}

.pabc i.fa{
	color:#F39C12;
}

.pmentor{
	background-color: #28B463;
}

.ppro{
	background-color: #212F3D;
}

body section a{
	text-decoration: none;
	color: #000;
	font-size: 30px;
	font-family: arial;
	text-align: center;
}


/*
i{
	color: red;
	font-size: 36px;
}*/

.caja i.fa{
	display: block;
	font-size: 3em;
	color: red;
} 

.fa fa-cogs{
	color: #ffc107;
    font-size: 2em;
}

.cajaTesting i.fa,
.cajaProduccion i.fa{
	display: block;
	font-size: 3em;
	color: red;
} 
.sectionMenu i.fa{
	margin-right: 10px;
	font-size: 90px;
	color: #fff;
}

.categoriaSubMenu a{
	font-size: 20px;
	color: #fff;
}

.categoriaSubMenu{
	padding: 3px;
}


footer{
	background: #1A5276;
	color: #fff;
	font-size: 16px;
	font-family: arial;
	text-align: center;
	padding:35px;
}


@media (max-width: 774px){
	.caja{
		width: 100%;
	}

	body section a{
	text-decoration: none;
	color: #000;
	font-size: 26px;
	font-family: arial;
	text-align: center;
	}

	.caja i.fa {
    display: block;
    font-size: 4em;
    color: red;
	}
}

@media (max-width: 600px){
	.caja{
		width: 100%;
	}

	body section a{
	text-decoration: none;
	color: #000;
	font-size: 26px;
	font-family: arial;
	text-align: center;
	}

	.caja i.fa {
    display: block;
    font-size: 4em;
    color: red;
	}
}

@media (max-width: 577px){
	.caja{
		width: 100%;
	}

	body section a{
	text-decoration: none;
	color: #000;
	font-size: 26px;
	font-family: arial;
	text-align: center;
	}

	.caja i.fa {
    display: block;
    font-size: 4em;
    color: red;
	}

	.categoriaSubMenu div{
	display:inline-block;
	width: 26%;
}
}






